body{
    background-color: rgba(235, 22, 235, 0.741);
    color:rgba(213, 67, 246, 0.81)
    font-family: "Lato", sans-serif;
}
header{
    font-size: 50px;
    border:ridge 5px rgb(243, 3, 191);
}
h1{
    font-size: 35px;
}
p{
    font-size: 25px;
}